/* Common Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
    font-family: 'Comfortaa', sans-serif;
}

h1 {
    color: #E54C70;
}

h2{
    background-color: #F17C98;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

h3{
    color: #E54C70;
}

h4{
    color: #0FBED0;
}
nav {
    display: grid;
    grid-template-columns: auto 1fr repeat(4, auto);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 20px 50px 0 50px;
}

.container .logo {
    max-width: 50px; 
    margin-right: 10px; 
}

.container h1 {
    margin: 0; /
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 0;
}

nav li a:hover {
    background-color: #F17C98;
    color: white;
    border-radius: 20px;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

h2, h3 {
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.row-container {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 10px;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.recipe {
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-bottom: 20px;

}

.recipe ul {
    margin-left: 15px;
    padding-left: 0;
}

.skill-container{
    text-align: center;
}
.skill-container img{
    max-width: 55%;
    height: auto;
}

.social-container img{
    max-width: 50%;
    float: right;
}

.col-8 p{
    font-size: 14px;
}

/*Team*/
.team-img img{
    display: grid;
    place-items: center;  
    height: auto; 
    box-sizing: border-box;
    padding: 20px;  
}

.centered-image {
    max-width: 100%;  
    max-height: 100%; 
}
.social-container-team img{
    max-width: 40px;
    float: right;
}

.social-container-contacts img{
    max-width: 50px;
    float: right;
}


@media (max-width: 600px) {
    nav {
        grid-template-columns: auto;
        text-align: center;
    }

    .logo {
        max-width: 20%;
    }

    h1 {
        justify-self: center;
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10%;
    }

    nav ul {
        grid-template-columns: 1fr;
        margin-top: 10px;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

/* instagram icon index page */
       .col-2 img{
        max-width: 35%;
    }

    
    
    .row {
        font-size: 14px; 
    }
    
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center; 
    }

    .columns img {
        float:right;
    }

/*Skill icons from join us*/
    .columns-skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center; 
    }
/*text size social media*/
    .text-container p {
        font-size:15px;
    }

    .center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
      }
  


    .social-container-team img{
        max-width: 50px;
        float: right;
    }

    .social-container-contacts img{
        max-width: 40px;
        float: right;
        padding-left: 0px;
    }

    .for-mobile .col-12 .row .columns .col-11 {
        padding-right: 40px;
    }

    .for-pc {
        display: none;
    }

    [class*="col-"] {
        float: left;
        padding: 6px;
      }
}

/* Specific Styles for FAQs Page */

.cell {
    text-align: center;
    margin-bottom: 20px;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.column {
    background-color: #fff;
    padding: 20px;
    padding-left: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}

ol li {
    margin-bottom: 15px;
}

ol li a {
    color: #0FBED0;
}

/*SSU corner page Join Us*/
.menu p a{
    color: #0FBED0;
}

  @media only screen and (min-width: 768px) {
    .recipe ul {
        font-size: 12px;
    }

    .for-mobile {
        display: none;
    }
  }
  
  footer {
    text-align: center;
    background-color: #F17C98;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }